<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Climb Pros | Login</title>
    <link href="/public/login.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="navbar__container">
        <a href="/" id="navbar__logo">
          <i class="fa-solid fa-star"></i>Climb Pros
        </a>
        <ul class="navbar__menu">
          <li class="navbar__item"><a href="/" class="label">Home</a></li>

          <li class="navbar__item"><a href="/login" class="label">Login</a></li>
          <li class="navbar__item">
            <a href="/register" class="label">Create an Account</a>
          </li>
        </ul>
      </div>
    </nav>

    <section class="form__section">
      <form action="/forgot-password" method="POST" class="form__card">
        <h2 class="form__title">Forgot Password?</h2>

        <% errors.forEach(error => { %>
        <p class="notice"><%= error %></p>
        <% }) %>

        <div class="form__group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            autocomplete="off"
            required
          />
        </div>
        <button type="submit" class="form__btn">Reset Password</button>
      </form>
    </section>
  </body>
</html>
