<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Climb Pros | Register</title>
    <link href="/public/login.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="navbar__container">
        <a href="/" id="navbar__logo">
          <i class="fa-solid fa-star"></i>Climb Pros
        </a>
        <ul class="navbar__menu">
          <li class="navbar__item"><a href="/" class="label">Home</a></li>

          <li class="navbar__item">
            <a href="/login" class="label">Log In</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Register Section -->
    <section class="form__section">
      <form action="/register" method="POST" class="form__card">
        <h2 class="form__title">Create an Account</h2>

        <% errors.forEach(error => { %>
        <p class="notice"><%= error %></p>
        <% }) %>

        <div class="form__group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            autocomplete="off"
            required
          />
          <div class="form__validation" id="username-rules">
            <p id="user-minLength" class="rule">
              <span class="icon">❌</span>At least 3 characters
            </p>
            <p id="user-maxLength" class="rule">
              <span class="icon">❌</span>Less than 20 characters
            </p>
            <p id="user-noSpecial" class="rule">
              <span class="icon">❌</span>No special characters
            </p>
          </div>
        </div>

        <div class="form__group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            autocomplete="off"
            required
          />
          <div class="form__validation" id="password-rules">
            <p id="pass-minLength" class="rule">
              <span class="icon">❌</span>At least 3 characters
            </p>
            <p id="pass-maxLength" class="rule">
              <span class="icon">❌</span>Less than 100 characters
            </p>
          </div>
        </div>

        <button type="submit" class="form__btn">Sign Up</button>
      </form>
    </section>

    <!-- Redirect CTA -->
    <section class="main__section">
      <div class="main__container">
        <div class="main__content">
          <h2>Already have an account?</h2>
          <a href="/login" class="hero__cta">Log In</a>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <div class="footer__content">
        <p>&copy; 2025 Climb Pros | Keep Climbing 🚀</p>
      </div>
    </footer>

    <!--Scripts-->
    <script>
      const usernameInput = document.getElementById("username");
      const userMinLength = document.getElementById("user-minLength");
      const userMaxLength = document.getElementById("user-maxLength");
      const userNoSpecial = document.getElementById("user-noSpecial");

      usernameInput.addEventListener("input", () => {
        const value = usernameInput.value;

        //Rule Minimum 3 Character
        if (value.length >= 3) {
          userMinLength.querySelector(".icon").textContent = "✅";
        } else {
          userMinLength.querySelector(".icon").textContent = "❌";
        }

        //Rule Max 20 Character
        if (value.length <= 20) {
          userMaxLength.querySelector(".icon").textContent = "✅";
        } else {
          userMaxLength.querySelector(".icon").textContent = "❌";
        }

        //Rule No special Character
        const allowedCharacters = /[^a-zA-Z0-9]/.test(value);
        if (!allowedCharacters && value.length > 0) {
          userNoSpecial.querySelector(".icon").textContent = "✅";
        } else {
          userNoSpecial.querySelector(".icon").textContent = "❌";
        }
      });

      const passwordInput = document.getElementById("password");
      const passMinLength = document.getElementById("pass-minLength");
      const passMaxLength = document.getElementById("pass-maxLength");

      passwordInput.addEventListener("input", () => {
        const passValue = passwordInput.value;
        //Rule Minimum 3 Character
        console.log(passValue.length);
        if (passValue.length >= 3) {
          passMinLength.querySelector(".icon").textContent = "✅";
        } else {
          passMinLength.querySelector(".icon").textContent = "❌";
        }

        //Rule Minimum 3 Character
        if (passValue.length <= 20) {
          passMaxLength.querySelector(".icon").textContent = "✅";
        } else {
          passMaxLength.querySelector(".icon").textContent = "❌";
        }
      });
    </script>
  </body>
</html>
