<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Climb Pros | Login</title>
    <link href="/public/login.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>

  <body>
    <section class="form__section">
      <form action="/reset-password/<%=token%>" method="POST">
        <h2 class="form__title">New Password</h2>
        <div class="form__group">
          <label for="password">New Password</label>
          <input
            type="password"
            name="password"
            id="password"
            autocomplete="off"
            required
          />
          <button type="submit" class="form__btn">Reset Password</button>
        </div>
      </form>
    </section>
  </body>
</html>
