<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Submit Climb</title>
    <link rel="stylesheet" href="/public/submit-climb.css" />
    <script
      src="https://kit.fontawesome.com/your-kit-id.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="navbar__container">
        <a href="/" id="navbar__logo">
          <i class="fa-solid fa-star"></i> Climb Pros
        </a>
        <ul class="navbar__menu">
          <li class="navbar__item"><a href="/" class="label">Home</a></li>
          <li class="navbar__item">
            <a href="/leaderboard" class="label">Leaderboard</a>
          </li>
          <li class="navbar__item">
            <a href="/community" class="label">Community</a>
          </li>
          <li class="navbar__item">
            <a href="/logout" class="label">Log out</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main Form Section -->
    <section class="form__section">
      <div class="form__card">
        <h2>Submit a Climb</h2>
        <form action="/submitClimb" method="POST">
          <div class="form__group">
            <label for="difficulty">Difficulty</label>
            <input type="number" name="difficulty" id="difficulty" required />
            <% errors.forEach(error => { %>
            <p><%=error%></p>
            <%});%>
          </div>

          <div class="form__group">
            <label for="attempts">Number of Attempts</label>
            <input type="number" name="attempts" id="attempts" required />
          </div>

          <button type="submit" class="form__btn">Submit Now</button>
        </form>
      </div>

      <button id="deleteBtn" class="danger-btn">
        Delete Most Recent Climb
      </button>
      <div id="confirmModal" class="modal hidden">
        <div class="modal-content">
          <p>Are you sure you want to delete your most recent climb</p>
          <form action="/delete-recent-climb" method="POST">
            <button type="submit" class="yesBtn">Yes</button>
            <button type="button" id="cancelBtn">No</button>
          </form>
        </div>
      </div>
    </section>

    <!--Scripts-->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const deleteBtn = document.getElementById("deleteBtn");
        const modal = document.getElementById("confirmModal");
        const cancelBtn = document.getElementById("cancelBtn");

        deleteBtn.addEventListener("click", () => {
          modal.classList.toggle("hidden");
        });
        cancelBtn.addEventListener("click", () => {
          modal.classList.toggle("hidden");
        });
      });
    </script>
  </body>
</html>
